{% extends "base.html" %}

{% block title %}
Select Teams
{% endblock %}

{% block content %}



<!-- admin sidebar for admin navigation to be add (left or right side?)-->
<div class="container">
    <p></p>
    <!-- Example row of columns -->
    <div class="row">
        <form>
            <label for="home">Home Team:</label>
            <select name="home" id="home">
            {% for team in all_nba_teams %}
                {% if team['full_name'] == current_home_team %}
                <option value="{{ team['full_name'] }}" selected>{{ team['full_name'] }}</option>
                {% else %}
                <option value="{{ team['full_name'] }}">{{ team['full_name'] }}</option>
                {% endif %}
            {% endfor %}
            </select>

            <label for="away">Away Team:</label>
            <select name="away" id="away">
                <option value="{{ current_away_team }}" selected>{{ current_away_team }}</option>
            {% for team in all_nba_teams %}
                <option value="{{ team['full_name'] }}">{{ team['full_name'] }}</option>
            {% endfor %}
            </select>
            
            <input type="submit" value="Submit" formmethod="post">
        </form>
    </div>
</div>


{% endblock %}