{% extends "base.html" %}

{% block title %}
Admin
{% endblock %}

{% block content %}

<!-- admin sidebar for admin navigation to be add (left or right side?)-->
<div class="container">
    <p></p>
    <!-- Example row of columns -->
    <div class="row">
        <form>
            <label for="user">Choose a user:</label>
            <select name="user" id="user">
                <option value="" disabled selected>Select a user</option>
            {% for user in users %}
                <option value="{{ user['user_id'] }}">{{ user['username'] }}</option>
            {% endfor %}
            </select>

            <label for="player">Choose a player:</label>
            <select name="player" id="player">
                <option value="" disabled selected>Select a player</option>
            {% for team in team_list %}
                <optgroup label="{{ team['Team Name'] }}">
                {% for player in team['Roster'] %}
                    <option value="{{ player['full_name'] }}">{{ player['full_name'] }}</option>
                {% endfor %}
                </optgroup>
            {% endfor %}
            </select>

            <label for="game-day">Choose a game date:</label>
            <select name="game-day" id="game-day">
                <option value="" disabled selected>Select a game date</option>
            {% for date in game_dates %}
                <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
            </select>
            
            <input type="submit" value="Submit" formmethod="post">
        </form>
    </div>
</div>


{% endblock %}